{% extends "layout.html" %}

{% block content %}


<style>

    .images-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .image {
        flex: 1;
        margin: 0 10px;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }

    .text-section {
        text-align: left;
    }

    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #3498db;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .cta-button:hover {
        background-color: #2980b9;
    }
</style>

<body>
    <div class="container">
        <div class="images-section">
            <div class="image">
                <img src="/static/shotmaps/PSG_shotmap.png" >
            </div>
            <div class="image">
                <img src="lien_image_piechart.jpg" alt="Pie Chart">
            </div>
            <div class="image">
                <img src="lien_image_tableau.jpg" alt="Tableau">
            </div>
        </div>
        <div class="text-section">
            <p>Mieux comprendre le jeu</p>
            <h2>Head into the analysis</h2>
            <a href="/stats" class="cta-button">Voir les statistiques</a>
        </div>
    </div>
</body>

{% endblock %}
