{% extends "layout.html" %}

{% block content %}

  <style>
    .item1 { grid-area: header; }
    .item2 { grid-area: liste_équipes; }
    .item3 { grid-area: shotmap; }
    .item4 { grid-area: piechart; }
    .item5 { grid-area: situations;}
    .item6 { grid-area: tireurs;}    
    .itrm7 { grid-area: logo}
    

  .item1{
    grid-row: 1 / 2;
    grid-column: 1 / 7;
  }

  .item2{
    grid-area: 2 / 1 / 7 / 2;
  }

  .item3 {
    grid-area: 2 / 3 / 4 / 6;
  }

  .item4 {

    grid-area: 7 / 3;
    width: 550px;
    height: auto; /* Hauteur fixe pour item4 */
    max-width: 100%;
    padding: 50px;
  }

  .item5 {
    grid-area: 3 / 9;
    width: 100%; /* Remplissez la largeur disponible */
    height: auto;
  }

  .item6 {
    grid-area: 7/ 9;
    width: 100%; /* Remplissez la largeur disponible */
    height: auto;
  }


  .grid-container {
    display: grid;
    grid-template-rows:100px 50px 100px 100px 100px 200px 100px 100px;
    grid-template-columns:100px 100px 100px 100px 100px 100px 100px 70px 100px;
    gap: 0x;
    background-color: transparent;
    padding: 50px;
  }

  .grid-container > div {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    font-size: 15px;
  }

  </style>

  <div class="container-fluid custom-container">
    <div class="grid-container">
      <div class="item1">
        <h1>Stats de l'équipe sélectionnée</h1>
      </div>

      <div class="item2">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="alert custom-alert" role="alert">
            CHOISIS UNE EQUIPE
          </div>
          <div class="sidebar-sticky">
            <div class="list-group">
              {% for team in teams %}
                <div key="{{ team.id }}" class = "team-button-container">
                  <button
                    type="button"
                    class="list-group-item list-group-item-action team-button"
                    data-team-id="{{ team.id }}">
                    <img src="{{ url_for('static', filename='logos/' + team.logo) }}" alt="{{ team.name }} logo" class="team-logo">
                    {{ team.name }}
                  </button>
                </div>
              {% endfor %}
            </div>
          </div>
        </nav>
      </div>

      <div class="item3">
        <div class="card custom-card">
          <div class="card-header">
            <h2>Shotmap</h2>
          </div>
          <div class = "card-body">
            <div id="shotmap-section" class="mt-4"> <p>Mapping complet des Tirs et des Buts par Equipe</p></div>
          </div>              
        </div>
      </div>

      <div class="item4">
        <div class = "card custom-card"> 
          <div class="card-header">
            <!-- Section pour afficher le Piechart -->
            <h2>Pie Chart</h2>
          </div>
          <div class = "card-body">
            <div id="situations-pie-chart-section" class="mt-4">
            </div>
          </div>
        </div>
      </div>

      <div class="item5">
        <div class="card custom-card mt-4"> 
          <div class="card-header">
            <h2> Situations </h2>
          </div>
          <div class="card-body">
            <div id="situations-list-section mt-4">
              <table class="table table-transparent table-hover table-custom table-situations">
                <thead>
                  <tr>
                    <th scope="col">Equipe</th>
                    <th scope="col">Situation</th>
                    <th scope="col">Tirs</th>
                    <th scope="col">Buts</th>
                    <th scope="col">xG</th>
                  </tr>
                </thead>
                <tbody>
                  {% for index, row in Situations.iterrows() %}
                    <tr class="team-{{ row['Team'] }}">
                      <td>{{ row['Team'] }}</td>
                      <td>{{ row['Situation'] }}</td>
                      <td>{{ row['Shots'] }}</td>
                      <td>{{ row['Goals'] }}</td>
                      <td>{{ row['xG'] }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
          
      <div class="item6">
        <div class="card custom-card mt-4"> <!-- Supprimez la classe redondante ici -->
          <div class="card-header">
            <h2>Top Tireurs</h2>
          </div>
          <div class = "card-body">
            <table class="table table-transparent table-hover table-custom table-shots">
              <thead>
                <tr>
                  <th scope="col">Joueur</th>
                  <th scope="col">Equipe</th>
                  <th scope="col">Tirs</th>
                  <th scope="col">Buts</th>
                  <th scope="col">xG</th>
                  <th scope="col">G-xG</th>
                </tr>
              </thead>
              <tbody>
                {% for index, row in players_shots.iterrows() %}
                  <tr class="team-{{ row['Team'] }}">
                    <td>{{ row['Player Name'] }}</td>
                    <td>{{ row['Team'] }}</td>
                    <td>{{ row['Shots'] }}</td>
                    <td>{{ row['Goals'] }}</td>
                    <td>{{ row['xG'] }}</td>
                    <td>{{ row['G - xG'] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
        </div>
      </div>

      <div class="item7">
        <div id="logo-section">
        </div>
      </div>

    </div>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var teamButtons = document.querySelectorAll('.team-button');
        teamButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                teamButtons.forEach(function(b) {
                    b.classList.remove('active');
                });
                button.classList.add('active');
                // Chargez le shotmap et la liste des top tireurs correspondants à l'équipe sélectionnée
                var teamName = button.textContent.trim();
                loadShotmap(teamName);
                loadTopShooters(teamName); // Nouvelle fonction pour charger la liste des top tireurs
                loadTopShooters(teamName);
                loadSituationsPieChart(teamName);
                generatePieChart('table-situations', teamName);  // Appel de la fonction avec le nom de l'équipe
                loadAvgPos(teamName);
                loadLogo(teamName);

            });
        });

        function filterPlayersByTeam(teamName) {
            var playerRows = document.querySelectorAll('.table tbody tr');
            playerRows.forEach(function(row) {
                if (row.classList.contains('team-' + teamName)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
        
        function filterSituationsByTeam(teamName) {
            // Filtrer les lignes du tableau des situations
            var situationRows = document.querySelectorAll('.table-situations tbody tr');
            situationRows.forEach(function(row) {
                if (row.classList.contains('team-' + teamName)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });

            // Filtrer les éléments du Pie Chart (en supposant que le Pie Chart soit directement généré dans la même div)
            var pieChartSections = document.querySelectorAll('#situations-pie-chart-section');
            pieChartSections.forEach(function(section) {
                if (section.classList.contains('team-' + teamName)) {
                    section.style.display = '';
                } else {
                    section.style.display = 'none';
                }
            });
        }
    

        function loadShotmap(teamName) {
            var shotmapSection = document.getElementById('shotmap-section');
            shotmapSection.innerHTML = '<img class="shotmap-image" src="/static/shotmaps/' + teamName + '_shotmap.png" alt="Shotmap">';
            filterPlayersByTeam(teamName);
        }

        function loadLogo(teamName) {
            var logoSection = document.getElementById('logo-section');
            logoSection.innerHTML = '<img class="logo-image" src="/static/logos/' + teamName + '.png" alt="logo">';
            filterPlayersByTeam(teamName);
        }

        function loadTopShooters(teamName) {
            // Nouvelle fonction pour charger la liste des top tireurs
            var topShootersSection = document.getElementById('top-shooters-section');
            // Implémentez le code pour charger la liste des top tireurs depuis votre fichier CSV
            // Utilisez par exemple une librairie JavaScript pour le traitement CSV ou faites une requête AJAX si c'est plus approprié dans votre cas
            // Assurez-vous de mettre à jour le contenu de topShootersSection avec les données chargées
        }

        function loadSituations(teamName) {
            // Nouvelle fonction pour charger la liste des situations
            var situationsListSection = document.getElementById('situations-list-section');
            // Implémentez le code pour charger la liste des situations depuis votre fichier CSV situations.csv
            // Assurez-vous de mettre à jour le contenu de situationsListSection avec les données chargées
        }

        function loadAvgPos(teamName) {
            var avgPosSection = document.getElementById('avg-pos-section');
            avgPosSection.innerHTML = '<img class="avg_pos-image" src="/static/avg_pos/' + teamName + '_avg_pos.png" alt="avg_pos">';
            filterPlayersByTeam(teamName);
        }

        function loadSituationsPieChart(teamName) {
          var situationsPieChartSection = document.getElementById('situations-pie-chart-section');

        }

        function generatePieChart(tableClass, teamName) {
            
          var tableRows = document.querySelectorAll('.' + tableClass + ' tbody tr');
          var labels = [];
          var values = [];
          //var hover_data = [];

          // Parcourir les lignes du tableau
          tableRows.forEach(function (row) {
              var cells = row.cells;
              var rowTeamName = cells[0].textContent;  // Colonne "Equipe"
              
              // Ajouter une condition pour inclure le total général uniquement lorsque teamName est vide
              if (!teamName || rowTeamName === teamName) {
                  // Utiliser les données appropriées des colonnes
                  var label = cells[1].textContent;  // Colonne "Situation"
                  var value = parseFloat(cells[2].textContent);  // Colonne "Tirs"

                  // Ajouter les données aux tableaux de labels et de values
                  labels.push(label);
                  values.push(value);
              }
          });
          if (labels.length === 0) 
          {
            // Aucune équipe sélectionnée, afficher le paragraphe
            situationsPieChartSection = '<p>Répartition des situations d\'occasions</p>';
          }
          else {
            var data = 
            [{
              labels: labels,
              values: values,
              type: 'pie',
              hole: 0.3,  // Taille du trou pour créer le donut
              marker: {
                colors: ['#b7c2cf','#7188a0', '#244460', '#151f28' , '#0c1e29', '#292929' ,'#000'],  // Couleurs des tranches du donut
                line: {
                  color: '#ffffff',  // Couleur de la bordure des tranches
                  width: 2.5  // Largeur de la bordure des tranches
                },
              }
            }];
          }

        var layout = {
        //title: `Occasions - ${teamName}`,  // Titre dynamique avec le nom de l'équipe
          paper_bgcolor: 'transparent',
          margin: {
            t:0,
            b:0
          },
          legend:{
            orientation:'h',
            y:1.2,
          }
        };

        Plotly.newPlot('situations-pie-chart-section', data, layout);
        }

    });
  </script>


{% endblock %}
